* {
  box-sizing: border-box;

  --white: #fff;
  --lightGray: #F3F6F7;
  --orange: #FF5A3D;
}

:root {
  --headerMaxWidth: 35em;
  --mainMaxWidth: 25em;

}

main > * {
  padding-inline: 1.5em;
}

main > *:nth-child(odd) {
  background-color: var(--lightGray);
}

nav.side-nav {
  width: 50%;
  height: 80vh;
  min-width: 10em;
  max-width: 15em;
}

nav.side-nav::before {
  content: '';
  position: absolute;
  inset: 0;
  translate: 1em -1em;
  border: 1px solid var(--white);
  transition: all .3s .4s;
  z-index: -1;
}

nav.side-nav.deac::before {
  translate: 0 0;
}

article.hero-section > section:first-child {
  max-width: var(--headerMaxWidth);

}

article.hero-section > section:nth-child(2) {
  max-width: var(--mainMaxWidth);

}

article.about-section > section:nth-child(2) {
  max-width: 35em;
}

article.about-section > section:nth-child(1) {
  min-width: 26em;
  max-width: 30em;
}

section.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.catalog-desc::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 1024px) {

  :root {
    --headerMaxWidth: 40em;
    --mainMaxWidth: 35em;
  }

  .shadow-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  nav.side-nav::before {
    translate: 0 0;

  }

  nav.side-nav {
    height: auto;
  }

  .nav-buttons > button {
    position: relative;
  }

  .nav-buttons > button::before {
    
    color: var(--white);
    padding: .5em;
    border-radius: .5em;
    bottom: -1em;
    background-color: var(--orange);
    
  }

  .nav-buttons > button:nth-of-type(1)::before {
    content: 'search';
  }

  .nav-buttons > button:nth-of-type(2)::before {
    content: 'profile';
  }

  .nav-buttons > button:nth-of-type(3)::before {
    content: 'cart';
  }

  .nav-buttons button::before,
  .nav-buttons button::after {
    translate: 0 100%;
    scale: 0;
    transform-origin: top;
    transition: all .3s;
    position: absolute;
    
  }

  .nav-buttons button::after {
    bottom: -.5em;
    content: '';
    width: 0;
    height: 0;
    z-index: -0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 20px solid var(--orange);
  }

  .nav-buttons > button:hover::before,
  .nav-buttons > button:hover::after {
    scale: 1;
  }

  main > * {
    padding-inline: 5em;
  }

  section.service-box {
    position: relative;
    overflow: hidden;
  }

  section.service-box::before {
    content: '';
    position: absolute;
    background-color: var(--orange);
    width: 100%;
    height: .4em;
    left: 0;
    bottom: 0;

    transform-origin: center;
    scale: 0 1;
    transition: all .6s;
  }

  section.service-box:hover :is(button, h3) {

    color: var(--orange);
     
  }

  section.service-box:hover::before {
    scale: 1 1;
  }

  .nav-fixed {
    position: fixed;
    top: 0;
    height: 5em;
    translate: 0 -100%;
    animation: navVisible .4s forwards;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 

  }

  @keyframes navVisible {
    to {
      translate: 0 0;
    }
  }

}

@media (min-width: 1280px) {
  article.about-section > section:nth-child(2) {
    max-width: 45em;
  }

  article.about-section > section:nth-child(1) {
    min-width: 35em;
  }
}